.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;

}

.btn-warning {
    background-color: #0000FF; 
    border-color: #0000FF;
    
}

.btn:first-child:hover {
    background-color: #0080ff; 
    border-color: #0080ff; 

}

.text-warning{
    color: #0080ff !important;
}